rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null && request.auth.uid == "YOUR_ADMIN_UID";
    }

    match /songs/{songId} {
      allow read: if true;
      allow create, delete: if isAdmin();
      allow update: if false;
    }
  }
}
